.title {
    font-size: 40px;
    color: #FF7A00;
    justify-content: center;
    display: flex;
    font-weight: 700;
}

.browse {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.image {
    max-height: 195px;
}

.category {
    width: 80%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.brandsContainer {
    width: 80%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 550px) {
    .browse {
        font-size: 24px;
    }

    .title {
        font-size: 30px;
        text-align: center;
    }

    .brandsContainer {
        width: 90%;
    }
}