.logoContainer {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 2%;
}

.textContainer {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 32px;
}

.mySwiper {
    width: 80%;
    height: 100%;
    overflow: hidden;
    max-height: 100%;
}

.swiperSlider {
    width: 80%;
    margin: auto;
}

.swiperSlider img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    object-position: center;
}

@media (max-width: 550px) {
    .logoContainer img {
        width: 118px;
    }

    .mySwiper {
        width: 100%;
        height: 100%;
    }

    .textContainer {
        font-size: 20px;
    }
}

@media (max-width: 850px) {
    .textContainer {
        font-size: 26px;
    }
}