.title {
    font-size: 40px;
    font-weight: 700;
    color: #FF7A00;
}

.text {
    font-size: 40px;
    font-weight: 400;
}

.mapsContainer {
    padding-left: 10%;
    width: 50%;
}

.textContainer {
    margin-left: 5%;
    line-height: 40px;
    width: 25%;
}

.containerWrapper {
    width: 100%;
    height: 100%;
    margin: 8% auto;
    display: flex;
    flex-direction: row;
}

.container {
    width: 100%;
    height: 100%;
}

.map {
    margin: 0 auto;
    width: 900px;
    height: 675px;
    /*transform: scale(3);.*/
}

@media (max-width: 550px) {
    .map {
        width: 341px;
        height: 256px;
    }
}

@media (max-width: 1650px) {
    .map {
        width: 700px;
        height: 525px;
    }
}

@media (max-width: 1280px) {
    .map {
        width: 500px;
        height: 375px;
    }

    .title {
        font-size: 30px;
    }

    .text {
        font-size: 20px;
    }
}

@media (max-width: 920px) {
    .map {
        width: 325px;
        height: 245px;
    }

    .textContainer {
        line-height: 30px;
    }
}

@media (max-width: 610px) {
    .map {
        width: 340px;
        height: 256px;
    }

    .containerWrapper {
        flex-direction: column-reverse;
    }

    .textContainer {
        padding-left: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}