.brandCategoryContainer {
    overflow: hidden;
    margin: 10px;
}

.imgContainer {
    width: 320px;
    height: 320px;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.imgContainer img {
    object-fit: contain;
    width: 100%;
    object-position: center;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.brandCategoryContainer p {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    color: #000;
    width: 320px;
}

.brandCategoryContainer a {
    text-decoration: none;
}

.brandCategoryContainer a:hover {
    text-decoration: underline;
}

@media (max-width: 1100px) {
    .imgContainer {
        width: 220px;
        height: 220px;
    }

    .brandCategoryContainer p {
        width: 220px;
    }
}

@media (max-width: 450px) {
    .imgContainer {
        width: 120px;
        height: 120px;
    }

    .brandCategoryContainer p {
        width: 120px;
        font-size: 15px;
    }
}