.brandContainer {
    width: 200px;
    height: 200px;
    margin: 1% 2%;
    position: relative;
}

.brandContainer:hover {
    outline: 2px solid black;
}

.brandContainer img {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
    object-position: center;
}

@media (max-width: 1200px) {
    .brandContainer {
        width: 125px;
        height: 125px;
    }
}

@media (max-width: 550px) {
    .brandContainer {
        width: 105px;
        height: 105px;
    }

    .brandContainer {
        width: 105px;
        height: 105px;
    }
}


