.title {
    font-size: 40px;
    font-weight: 700;
    color: #FF7A00;
}

.textContainer {
    font-size: 24px;
    color: #000;
    width: 33%;
    margin-left: 3%;
    line-height: 26px;
}

.titleContainer {
    text-align: center;
}

.titleContainer p {
    font-size: 32px;
}

.mySwiper {
    width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.swiperSlider {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiperSlider img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 611px;
    /*object-position: center;*/
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5% auto;
}

.swiperContainer {
    height: 100%;
    width: 64%;
    display: flex;
    min-height: 40vh;
}

@media (max-width: 820px) {
    .title {
        font-size: 30px;
    }

    .textContainer {
        font-size: 16px;
    }

    .container {
        /*display: block;*/
        flex-direction: column-reverse;
    }

    .swiperContainer {
        width: 100%;
    }

    .textContainer {
        width: 100%;
    }
}