.headerContainer {
    font-size: 15px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 3% 1vh 3%;
    height: 15vh;
    position: relative;
}

.headerItem {
    display: flex;
    align-items: center;
    height: 100%;
}

.headerItem a {
    color: #fff;
    padding-right: 15px;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.headerItem:last-child a {
    margin-left: -3%;
    margin-right: 2%;
}

.headerItem a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.headerItemAdaptive {
    display: flex;
    flex-direction: column;
}

.headerItem img {
    margin-left: 3vw;
}

.headerItemAdaptive a {
    color: #fff;
    padding-right: 15px;
    font-size: 18px;
    text-decoration: none;
    padding-bottom: 15px;
}

.menuItem {
    width: 120px;
    height: 120px;
    margin-right: 15px;
}

.menuItem img {
    width: 100%;
    height: 100%;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoContainer img {
    width: 100%;
}

@media (max-width: 1230px) {
    .logoContainer img {
        width: 80%;
    }

    .headerContainer {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 550px) {
    .menuItem {
        width: 100px;
        height: 60px;
        margin-right: 15px;
    }

    .headerContainer {
        height: 60px;
        padding: 0;
    }

    .logoContainer {
        height: 99%;
        width: 85px;
        padding: 2% 0 0 0;
    }

    .logoContainer img {
        width: 100%;
    }

    .headerItemAdaptive {
        width: 95%;
        /*min-height: 60px;*/
    }

}