.categoryContainer {
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin: 2%;
}

.categoryContainer a {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    height: 20vw;
    width: 40vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.categoryContainer img {
    width: 100%;
    object-fit: cover;
}

.categoryBlock {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.categoryBlock:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.5s ease;
}

.categoryBlock span {
    vertical-align: middle;
    display: flex;
    text-align: center;
    color: #fff;
    width: 50%;
    z-index: 5;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

@media (max-width: 1230px) {
    .categoryContainer a {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .categoryContainer {
        width: 330px;
        height: 180px;
    }

    .categoryContainer a {
        width: 100%;
        height: 100%;
        font-size: 20px;
    }
}