.footerContainer {
    background-color: #FF7A00;
    display: flex;
    padding-bottom: 4vh;
    bottom: 0;
    width: 100%;
    position: relative;
    height: 5vh;
}

.footerWrapper {
    display: flex;
    justify-content: center;
    height: 5vh;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.footerWrapper span {
    color: #000;
    font-size: 20px;
}

.footerAdaptive {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    margin-top: 3%;
    bottom: 0;
    position: absolute;
}

.footerAdaptive a {
    color: #fff;
    text-decoration: none;
    padding: 3%;
}

.footerAdaptive a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footerWrapperAdaptive span {
    font-size: 10px;
}

.footerWrapperAdaptive {
    padding-top: 10%;
    padding-bottom: 5vh;
}

@media (max-width: 550px) {
    .footerContainer {
        height: 20vh;
    }
}

@media (max-width: 1000px) {
    .footerContainer {
        height: 35vh;
        position: relative;
    }
}