.footerContainer{
    display: flex;
    flex: 1;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footerWrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 3em;
    width: 100%;
}
.footerWrapper span {
    color: #d7dade;
    position: inherit;
}
.footerContainer img{
    object-fit: contain;
    width: 100%;
}