.mainContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 4% auto;
}

@media (max-width: 550px) {
    .mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}